<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509212571928-03qltq5e6p1uh5j1te07jnss378epgi6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509212571928-03qltq5e6p1uh5j1te07jnss378epgi6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>509212571928-fcrnmouujs23stop7ikg37n71edg96nv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAFoizzAu8iKBzk6gF9vq8l_8kkJ1Xf5nE</string>
	<key>GCM_SENDER_ID</key>
	<string>509212571928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zoomCloneTutorial</string>
	<key>PROJECT_ID</key>
	<string>flutterzoomclone-2ea91</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterzoomclone-2ea91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509212571928:ios:f78a1f6239ffd5b53d066d</string>
</dict>
</plist>